html, body {
    background-color: blue;
    margin: 0;
    padding: 0;
}


h1 {
color: crimson;
font-family: 'Pixelify Sans';
font-size: 90px;
text-align: center;
margin-top: 100px;
}

table {
    border: 10px solid rgb(0, 0, 0);
    width: 100%;
    height: 400px;
    margin-top: 200px;
    background-color: rgb(40, 25, 94);
   
}

th, tr, td {
    border: 2px solid rgb(255, 0, 221);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    
}

th {
color: rgb(255, 0, 0);
font-size: 40px;

}

a {
text-decoration: none;
color: rgb(0, 255, 98);
font-size: 30px;

}

td {
color: white;
font-size: 28px;

}

