h1 {
text-align: center; 
margin-bottom: 30px; 
padding: 10px;
}

div.ct1 {
background-color: rgb(0, 255, 64);
padding: 2%;
position: relative;
}

div.plm {
width: 100%;
height: auto;
display: flex;
padding: 0%;
margin: 0%; 
justify-content: center ;
gap: 22%;
display: absolute;
background-color: aqua;
}

div.jg {
width: 100%;
height: auto;
display: flex;
padding: 0%;
margin: 0%;   
justify-content:center;
gap: 2%;
background-color: blue;
}

div.ct2{

}

div.imgj{
display: flex;
justify-content: space-between;
padding: 0%;
margin-top: 5%;
}
div.sons{

}